/Tener en cuenta.txt
/indexprueba.html
/Frontend/js
/comprar2.0.html
/Frontend/css/login.css
/DataBase/Prueba de BD.sql
/Frontend/carrito.html
/Frontend/login.html

/Documentos/Caso de Uso-Sistema.png
/Documentos/DER.png
/Documentos/Diagramadesecuencia1.png
/Documentos/DiagramadeSecuencia2.png
/Documentos/DiagramadeClases.png
/Documentos/Diagrama de Modelo Relacional.png
/Documentos/DiagramaER.html
/pasos_git.md